<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="BookStoreOrders" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=BookStoreOrders; Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="Lab9.Properties.Settings.BookStoreOrdersConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BookStoreOrders;Integrated Security=True" providerName="System.Data.SqlClient" />
 <add name="BookStoreOrdersEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=BookStoreOrders;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>